<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	    <meta
	      name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no"
	    />
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	    <link rel="stylesheet" href="/css/info.css" />
	    <link rel="stylesheet" href="/css/infoLayout.css" />
	    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>알고찾자</title>
	</head>
	<body>
	
		<nav class="navbar">
			<p>
	        <span>A</span> 
	        <span>l</span>
	        <span>g</span>
	        <span>o</span>
	        <span>Search</span>  
	      </p>    	
		</nav>	
		
		<hr>
		
		<div class="flex-container">
			
			<div class="domestic">
				<h1>- DOMESTIC</h1><br>
				<p class="title">1. 한국학술정보(KISS)</p>
				<p class="detail"><a href="http://kiss.kstudy.com">http://kiss.kstudy.com</a></p>
				<p class="title">2. 한국교육학술정보원(RISS)</p>
				<p class="detail"><a href="http://www.riss.kr" >http://kiss.kstudy.com</a></p>
				<p class="title">3. 국회도서관</p>
				<p class="detail"><a href="http://www.nanet.go.kr">http://www.nanet.go.kr</a></p>
				<p class="title">4. DBPIA</p>
				<p class="detail"><a href="http://www.dbpia.co.kr">http://www.dbpia.co.kr</a></p>
				<p class="title">5. 한국학술지인용색인(KCI)</p>
				<p class="detail"><a href="http://www.kic.go,kr">http://www.kic.go,kr</a></p>
			</div>
			
			<div class="abroad">
				<h1>- ABROAD</h1><br>
				<p class="title">1. EBSCOhost ASC</p>
				<p class="detail"><a href="http://www.ebsco.com">http://www.ebsco.com</a></p>
				<p class="title">2. EBSCOhost BSC</p>
				<p class="detail"><a href="http://www.ebsco.com" >http://www.ebsco.com</a></p>
				<p class="title">3. JCR Web</p>
				<p class="detail"><a href="http://jcr.clarivate.com">http://jcr.clarivate.com</a></p>
				<p class="title">4. JSTOR Archive</p>
				<p class="detail"><a href="http://www.jstor.org">http://www.jstor.org</a></p>
				<p class="title">5. ProQuest Central</p>
				<p class="detail"><a href="http://www.proquest.com">http://www.proquest.com</a></p>
				
			</div>
			
			<div class="abroad2">
				<p class="title">6. ScienceDirect</p>
				<p class="detail"><a href="http://www.sciencedirect.com">http://www.sciencedirect.com</a></p>
				<p class="title">7. Web of Science</p>
				<p class="detail"><a href="http://www.webofscience.com">http://www.webofscience.com</a></p>
				<p class="title">8. Wiley</p>
				<p class="detail"><a href="http://onlinelibrary.wiley.com">http://onlinelibrary.wiley.com</a></p>
				<p class="title">9. Google Scholar</p>
				<p class="detail"><a href="http://scholar.google.co.kr">http://scholar.google.co.kr</a></p>
				<p class="title">10. Elsevier</p>
				<p class="detail"><a href="http://www.sciencedirect.com">http://www.sciencedirect.com</a></p>
			</div>
		</div>
		
		<script type="text/javascript">
    		</script>
	
	</body>
</html>