<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>알고찾자</title>

  </head>

  <body>
    <div>
      <h1 id="jino">쏭쏭지노지노</h1>
    </div>
    <div class="body">
      <form action="/searching" method="get">
        이름 : <input type="text" name="reportTitle"><br>
      <input type="submit">
    </form>
    </div>

    <script type="text/javascript">
    </script>

  </body>

</html>