<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>알고찾자</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div>
      <h1 id="jino"><%= userInput %> 를 찾는 중</h1>
    </div>
    <div class="body">
      <div class="container">

      </div>
 
    </div>

    <script>
      $(function(){
        $.ajax({
            type:'POST',
            url:"/let",
            dataType:'text', 
            data: {'userInput':'<%= userInput %>'},
            error: async function(){
                alert("에러가 발생했습니다.");
            },
            success:async function(data){
                const obj = JSON.parse(data);
                const msg = document.querySelector('.container');
                //status 따로둬서 데이터 없는 경우 처리할 것
                  msg.innerHTML=`
                    <p id="data_flag">찾으시는 데이터가 존재합니다</p>
                    <p id="data_types">${obj.result[0]} </p>
                    <p id="data_title">${obj.result[1]} </p>
                    <p id="data_author">${obj.result[2]} </p>
                    <p id="data_company">${obj.result[3]} </p>
                    <p id="data_date">${obj.result[4]} </p>
                  `
                
            }
        });

      });
        
    </script>

  </body>

</html>