@charset "UTF-8";

body{
	margin: 40px;
}

.navbar{
    justify-content: center;
}

.flex-container {
    /* margin-top: 25vh; */
    margin: 40px 0;
    position: relative;
	display:flex;
    justify-content: space-evenly;
}

details{
    padding: 5px 15px;
}