@charset "UTF-8";

.navbar{
	height: 70px;
}

.main-menu{
	width: 100%;
}

.main-menu li{
	padding: 10px 20px;
}

.main-menu a {
	font-family: 'Handlee', cursive;
	font-size:24px;
	color: #000;
	text-decoration: none;
}

.main-menu a:hover {
	color: #4285F4;	
}

.search-form{
	margin: 0 auto; 
	position: relative;
	align-items: center;
	width: 40vw;
}
	
	.search-form i{
		color: #AAAAAA;
		position: absolute;
		left: 15px;
		z-index: 1;
	}

	.search-form input{
		box-shadow: 1px 1px 1px 1px #AAAAAA;
		padding-left: 50px;
		overflow: auto;
	}

	.search-form button{
		display: none;
	}

#subLogo{
    font-family: 'Handlee', cursive;
    font-size:18px;
}

span{
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 72px;
}

p span:nth-child(1){
    padding: 0 2.5px;
	color:#4285F4;
}

p span:nth-child(2){
    padding: 0 2.5px;
	color:#EA4335;
}

p span:nth-child(3){
    padding: 0 2.5px;
	color:#FBBC05;
}

p span:nth-child(4){
    padding: 0 2.5px;
	color:#34A853;
}

.search-order{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 25px;
}

.result-form {
	background-color: #E5E5E5;
}