@charset "UTF-8";

body{
    margin: 40px;
}

a{
	text-decoration: none;
	color: black;
}

.navbar {
	margin: 0 auto;
	display: flexbox;
}

.main-menu{		
	display:flex;
	justify-content: space-around;
	list-style: none;
	padding-left: 0;
}

hr{
	margin: 0 auto;
	width:80%;
}

.logo {
	/* display:flex; */
	/* justify-content: center; */
	position:relative;
	margin-top: 42px;
	padding: 10px 20px;
}

p{
    line-height:72px;
    display: flex;
    justify-content: center;
    margin: 0 auto 36px;
}

#subLogo{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.search-order{
	display:flex;
	justify-content: center;
	align-items: center;
	/* padding-right: 100px; */
}

	.search-order input{
		margin: 5px 5px 5px 10px;
	}

.result-form{
	margin: 5vh auto;
	width: 45vw;
	height: 40vh;
}

.result-form p{
	margin: 5vh auto;
	padding: 25px 40px;
 }